// Placeholder to allow overriding predefined variables smoothly.

$text-color: #ffffff;
$link-hover-color: #ff8000;
$site-title-color: #0076c9;

$background-color: #2e3440;
$code-background-color: #20242e;

$border-color-01: #0076c9;

$border-color-04:$code-background-color;
