// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/*
* site-header
*/

.site-header {
    border-top: 5px solid $border-color-01;
    border-bottom: 1px solid $border-color-01;
    min-height: $spacing-unit * 1.865;
    line-height: $base-line-height * $base-font-size * 2.25;
}

/**
* nav, page-link
*/ 

.site-nav {
    .page-link {
      color: $border-color-01;
    }
}
/**
 * Page content
 */
 .page-content {
    @include relative-font-size(1.25);
    padding: $spacing-unit 0;
    flex: 1 0 auto;
    line-height: 1.5em;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }

    /**
    * post
    */

.post-content {
    @include relative-font-size(1.625);
    letter-spacing: 0.3px;
    line-height: 1.5;
}

/**
* code
*/

pre,
code {
  font-family: $code-font-family;
  font-size: 1.0em;
  border: 1px solid $border-color-04;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 2px 8px;
}

